---
layout: page
title: Home
---
<section class="c-archives">
{% for post in site.posts  %}
    {% if forloop.first %}
        <ul class="c-archives__list">
    {% endif %}
        <li class="c-archives__item">
            <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
            <p>{{ post.date | date: "%Y-%m-%d" }}</p>
        </li>
    {% if forloop.last %}
        </ul>
    {% else %}
        {% if this_year != next_year %}
        </ul>
        <ul class="c-archives__list">
        {% endif %}
    {% endif %}
{% endfor %}
</section>
